// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
  background-image: url('i.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}
p
{
  color: #234f09;
  background-color: #66FF99;
  text-align: center;
}

label
{
    text-align: center;
    margin-left: 25%;
    color: #FF6600;
}

input
{
    margin-left: 2%;
    margin-left: 2%;
    align: center;
}
input[type = submit]
{
    margin-left: 35%;
    color: #FF3300;
}

a
{
  text-align: center;
}

.action
{
    text-align: center;
    color: red;
    background-color:#FFFF99;
}

table
{
  border-style: solid;
  border-color: #FF6600;
}

td
{
    color:#990099;
    background-color: #FFCCCC;
    opacity:0.7;
}
table,td
{
    text-align: center;
    margin-left: 20%;
    border-radius: 2px;
}

th
{
    background-color: #FF6600;
    border-radius: 10px;
    border-color: blue;
}

.links
{
  text-align: center;
  color: white;
}

#container
{
  width: 800px;
  height: 280px;
  border-style: solid;
  border-color:black;
  margin-left: 15%;
}
#my_camera
{
width:320px;
height:240px;
border-style: solid;
border-color: red;
margin-left:8%;
}

#my_result
{
  width: 320px;
  height: 246px;
  border-style: solid;
  border-color: red;
  margin-left: 55%;
  margin-top: -31.5%;
}
a
{
 // color: #660066;
 color: blue;
}

h2
{
  text-align: center;
  color: #33CC33;
}
